<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- AUTHOR STYLESHEET -->
    <link rel="stylesheet" href="/stylesheets/home.css">
    <title>Home | Mineral</title>
  </head>
  <body>
    
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
      <div style="padding-right: 8rem; padding-left: 8rem;" class="container-fluid nav-padding">
        <a class="navbar-brand glow" href="/"><span style="color: #04329b; font-weight: bold;">MINE</span>RAL</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div style="gap: 2rem;" class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/" style="font-size: 1.2rem; color: #04329b; text-align: center;">Home</a>
            <a class="nav-link" href="/staff" style="font-size: 1.2rem; text-align: center;">Staff</a>
            <a class="nav-link" href="/leaderboards" style="font-size: 1.2rem; text-align: center;">Leaderboards</a>
            <a class="nav-link-store" href="https://store.mineral.gg" style="color:white; font-size: 1.2rem; text-align: center; background-color: #04329b; border-radius: .5rem;">Store</a>
            <form class="d-flex">
              <input style="border: none; background-color: transparent; color: rgba(255, 255, 255, 0.795); font-weight: bold; border-bottom: 1px solid #04329b;border-radius: 0; padding: 0;" id="myInput" class="search-input form-control me-2" type="search" placeholder="Search for Player" aria-label="Search" onkeypress="return event.keyCode != 13;">
              <button style="background-color: #04329b!important; color: rgba(255, 255, 255, 0.795)!important;" id="myBtn" class="search-btn btn btn-outline-primary" type="button">Search</button>
            </form>
          </div>
          
        </div>
      </div>
    </nav>

    <script>
      var input = document.getElementById("myInput");
      input.addEventListener("keyup", function(event) {
        if (event.keyCode === 13) {
         event.preventDefault();
         document.getElementById("myBtn").click();
        }
      });
      </script>

    <script>
      let search_inp = document.querySelector(".search-input");
      let target = document.querySelector(".search-btn");
      const array = <%-JSON.stringify(pp).toLocaleLowerCase()%>;
      const normal_array = <%-JSON.stringify(pp)%>;
      target.addEventListener("click", e =>{

        const match = array.find(element => {
        if (element.includes(search_inp.value.toLocaleLowerCase())) {
          return true;
        }  
      });

      
      if (search_inp.value !== "") {
        let geti = array.indexOf(match); 
        let right_name = normal_array[geti];
        if (right_name === undefined) {
          location.href = `notFound`;
          return;
        }
        location.href = `/player/${right_name}`;
      } else {
        alert("You need to type a username of your choice!");
      }
      });
    </script>
    

    <!-- inner-land-page -->
    <div class="container-fluid" style="padding: 0;">
      <div class="bg-1 d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column align-items-center">
          <div>
        <img style="margin-bottom: 4rem; max-width: 30rem" class="mineral-logo" src="/images/mineral-logo.png" alt="" width="100%" height="auto">
      </div>
        <p class="mineral-slogan" style="color: rgba(255, 255, 255, 0.795); text-align: center; position: relative; bottom: 3rem; font-weight: bold; ">WE BRING YOUR 
          <span style="color: #04329b; font-weight: bold;">EXPERIENCE</span>
          TO <span style="color: #04329b; font-weight: bold;">ANOTHER LEVEL</span></p>
      </div>
      </div>
    </div>
    <!-- INCREDIBLE EXPERIENCE -->
    <div class="container-fluid" style="padding: 0;">
      <div class="kb d-flex flex-column flex-lg-row justify-content-center align-items-center">
        <div>
          <h4 class="kb-header" style="text-align: center; margin-bottom: 3rem; margin-top: 1rem; color:#5555FF; font-weight: bold; text-decoration: underline rgba(255, 255, 255, 0.795); text-underline-offset: 13px;"><span style="color:rgba(255, 255, 255, 0.795);">INCREDIBLE</span> EXPERIENCE</h4>
          <p class="kb-paragraph" style="text-align: center; color: rgba(255, 255, 255, 0.795);">We spent <span style="color: #5555FF; font-weight: bold;">hours</span> configurating our knockback, when it comes to
           game mechanics, we are in fact <span style="color: #5555FF; font-weight: bold;">specialists</span>.
            We created this stable knockback with amazing <span style="color: #5555FF; font-weight: bold;">hitdetection</span> that <span style="color: #5555FF; font-weight: bold;">register</span> all your hits instantly!
            We try to make sure, that your experience is going to be seamlessly, whenever you play on <span style="color: #5555FF; font-weight: bold;">mineral.gg</span>.
          </p>
        </div>
        <div>
          <img class="trans-pic" src="/images/knockback.svg" alt="" width="100%" height="300px" style="max-width: 600px;">
      </div>
      </div>
    </div>

    <!-- Community- -->
    <div class="container-fluid" style="padding: 0;">
      <div class="mc-trans d-flex flex-column flex-lg-row justify-content-center align-items-center">
        <div class="order-lg-2">
          <h4 class="trans-header" style="text-align: center; margin-bottom: 3rem; color:#5555FF; font-weight: bold; margin-top: 1rem; text-decoration: underline rgba(255, 255, 255, 0.795); text-underline-offset: 13px;">OUTSTANDING <span style="color:rgba(255, 255, 255, 0.795);">BOTS</span></h4>
        <p class="trans-paragraph" style="text-align: center; color: rgba(255, 255, 255, 0.795);">We made sure that we <span style="color: #5555FF; font-weight: bold;">created</span> the best bots possible available currently!
          We have created multiple <span style="color: #5555FF; font-weight: bold;">difficulties</span> that are very realistically and don't just reduce the range of the bots. On top of that we did some other awesome stuff with the bots!<br>
           For more come on mineral.gg💙
        </p>
      </div>
      <div id="iframe-container" class="order-lg-1">
        <iframe style="border-radius: 1rem;" width="560" height="315" src="https://www.youtube.com/embed/ZTLLkWlDMdc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
      </div>
    </div>
    
    <!-- Top Players -->
    
    <div id="particles-js" class="container-fluid" style="padding: 0;">
      <hr style="margin: 0; border-bottom: 8px solid #04329b; opacity: 1;">
    </div>
    <div style="padding: 30px;" class="top-players d-flex flex-column align-items-center">
      <h1 class="top-players-header" style="color: #5555FF; text-decoration: underline rgba(255, 255, 255, 0.795); text-underline-offset: 13px; letter-spacing: .6rem; font-weight: bold;"><span style="color: rgba(255, 255, 255, 0.795);">Top</span> Players <span style="color: #FFFFFF;">&#9876;</span></h1>
      <div style="margin-top: 3rem; gap: 4rem;" class="d-flex flex-row top-player-container">
      <div style="text-align: center;" id="top_player_1">
      <a href="/player/<%=top_1_name%>"><img class="skin-size" src="<%=`https://visage.surgeplay.com/bust/200/${top_1}`%>" alt=""></a>
      <a style="text-decoration: none;" href="/player/<%=top_1_name%>"><p class="top-p" style="text-align: center; margin-top: 2rem; color: #FFD700; font-size: 1.4rem; font-weight: bold;"><%=top_1_name%></p></a>
    </div>
    <div style="text-align: center;" id="top_player_2">
      <a href="/player/<%=top_2_name%>"><img class="skin-size" src="<%=`https://visage.surgeplay.com/bust/200/${top_2}`%>" alt=""></a>
      <a style="text-decoration: none;" href="/player/<%=top_2_name%>"><p class="top-p" style="text-align: center; margin-top: 2rem; color: silver; font-size: 1.4rem; font-weight: bold;"><%=top_2_name%></p></a>
    </div>
    <div style="text-align: center;" id="top_player_3">
      <a href="/player/<%=top_3_name%>"><img class="skin-size" src="<%=`https://visage.surgeplay.com/bust/200/${top_3}`%>" alt=""></a>
      <a style="text-decoration: none;" href="/player/<%=top_3_name%>"><p class="top-p" style="text-align: center; margin-top: 2rem; color: #bf8970; font-size: 1.4rem; font-weight: bold;"><%=top_3_name%></p></a>
    </div>
    </div>
    <div class="table-data .table-responsive">
    <table class="d-flex table table-dark table-striped justify-content-center" style="margin-top: 3rem;">
      <tr>
        <th class="rank" scope="col">Rank</th>
        <th class="player" scope="col">Player</th>
        <th class="elo" scope="col">Elo</th>
    </tr>
      <%let i=1;%>
    <%userData.forEach(function(data) { %>
      
    <%userData.length = 3;%>
    <tr>
        <th style="font-size: 1.4rem;" scope="row"><%=`${i++}#`; %></td>
        <td style="font-size: 1.4rem;" ><img style="padding-right: 1.5rem;" class="rounded" src="<%=`https://visage.surgeplay.com/face/24/${data.UUID}`%>" alt=""><a style="text-decoration: none;" class="top_players_link" href="/player/<%=data.PLAYER%>"><%=data.PLAYER %></a></td>
        <td style="font-size: 1.4rem;"><%=data.ELO %></td>
        
    </tr>
  
    <% })%>
  </table>
  <div class="d-flex justify-content-center">
  <a href="/leaderboards"><button style="background-color: #04329b!important;" type="button" class="btn btn-primary btn-lg show-more-btn">See More...</button></a>
</div>
</div> 
    </div>
  

    <!-- FOOTER -->
    <hr style="margin: 0; border-bottom: 8px solid #04329b; opacity: 1;">
    <footer class="container-fluid" style="padding: 0;">
      <div class="mineral-footer d-flex flex-column justify-content-center align-items-center">
        <div class="container" style="width: auto;">
          <div class="row">
            <div class="col">
              <a class="navbar-brand footer-brand glow" href="/"><span style="color: #04329b; font-weight: bold;">MINE</span>RAL.gg 💙</a>
          </div>
          <div class="mineral-foot-links col d-flex justify-content-center align-items-center">
            
              <a class="nav-link active" aria-current="page" href="/" style="font-size: 1.2rem; color: #04329b;">Home</a>
              <a class="nav-link" href="/staff" style="font-size: 1.2rem;">Staff</a>
              <a class="nav-link" href="/leaderboards" style="font-size: 1.2rem;">Leaderboards</a>
              <a class="nav-link-store" href="https://store.mineral.gg" style="color:white; font-size: 1.2rem; text-align: center; background-color: #04329b; border-radius: .5rem;">Store</a>
            
          </div>
            <div id="footer-items" class="col d-flex justify-content-end align-items-center">
              <div style="gap: 1.5rem;" class="d-flex">
                <a href="https://discord.mineral.gg"><img class="skin-size" src="/images/discord-icon.svg" alt=""></a>
                <a href="https://twitter.com/MineralServer"><img class="skin-size"  src="/images/twitter-icon.svg" alt=""></a>
            </div>
            </div> 
            </div>
            <hr class="footer-line" style="color: #04329b; height: 0.5rem; border-radius: 2rem; width: 100%; opacity: 1;">
            <div>
              <p style="color: rgba(255, 255, 255, 0.795);">© 2023 Mineral Studios, All Rights Reserved.</p>
            </div>
        </div>
      </div>
    </footer>
  </div>

    <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="/javascripts/particle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>