<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href='/stylesheets/leaderboard.css'>
    
    <!-- AUTHOR STYLESHEET -->
  <title>Leaderboard</title>
</head>
<body>
    <div class="table-data .table-responsive">
    <table class="flex-container table table-dark table-striped">
        
        <tr>
            <th class="rank" scope="col">Rank</th>
            <th class="player" scope="col">Player</th>
            <th class="elo" scope="col">Elo</th>
        </tr>
        <% if (page <= 0 || isNaN(page)) { %>
            <tr>
                <td colspan="7">404 Error :)</td>
            </tr>
        
        <% } else if (page => 1) { %>
            <% let i=1; %>
        
        <%userData.forEach(function(data) { 
                
    %>
        
        <tr>
            <th style="font-size: 1.4rem;" scope="row"><%=`${i++}#`; %></td>
            <td style="font-size: 1.4rem;"><img class="rounded" src="<%=`https://crafatar.com/avatars/${data.UUID}.png?size=24`%>" alt=""><a href="http://localhost:3000/player/<%=data.PLAYER%>"><%=data.PLAYER %></a></td>
            <td style="font-size: 1.4rem;"><%=data.ELO %></td>
            
        </tr>

        <% })%> 
        <% } %>

    </table>
    <div class="break"></div>
    <!--Display the links to the pages-->
    <div class="pagination">
    <% if(page > 1) { %> <a href="http://localhost:3000/leaderboard/?page=<%=page-1%>"><</a> <% } %>
    <% for(let i = iterator; i <= endingLink; i++) { %>
        <% if(i === page) { %>
        <a class="selectedLink" href="http://localhost:3000/leaderboard/?page=<%=i%>"><%=i%></a>
        <% continue; %>
    <% } %>
        <a href="http://localhost:3000/leaderboard/?page=<%=i%>"><%=i%></a>
        <% } %>
        <% if(page < numberofPages) { %> <a href="http://localhost:3000/leaderboard/?page=<%=page+1%>">></a> <% } %>
    </div>
</div>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>