<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
     <!-- Bootstrap CSS -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <!-- AUTHOR STYLESHEET -->
    <link rel="stylesheet" href='/stylesheets/leaderboards.css'>
    <title>Mineral | Leaderboards</title>
</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <div style="padding-right: 8rem; padding-left: 8rem;" class="container-fluid nav-padding">
          <a class="navbar-brand glow" href="/"><span style="color: #04329b; font-weight: bold;">MINE</span>RAL</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div style="gap: 2rem;" class="navbar-nav">
              <a class="nav-link" href="/" style="font-size: 1.2rem; text-align: center;">Home</a>
              <a class="nav-link" href="/staff" style="font-size: 1.2rem; text-align: center;">Staff</a>
              <a class="nav-link active" href="#" style="font-size: 1.2rem; text-align: center; color: #04329b;">Leaderboards</a>
              <a class="nav-link" href="#" style="font-size: 1.2rem; text-align: center;">FAQ</a>
              <form class="d-flex">
                <input style="border: none; background-color: transparent; color: rgba(255, 255, 255, 0.795); font-weight: bold; border-bottom: 1px solid #04329b;border-radius: 0; padding: 0;" id="myInput" class="search-input form-control me-2" type="search" placeholder="Search for Player" aria-label="Search" onkeypress="return event.keyCode != 13;">
                <button style="background-color: #04329b!important; color: rgba(255, 255, 255, 0.795)!important;" id="myBtn" class="search-btn btn btn-outline-primary" type="button">Search</button>
              </form>
            </div>
            
          </div>
        </div>
      </nav>

      <script>
        var input = document.getElementById("myInput");
        input.addEventListener("keyup", function(event) {
          if (event.keyCode === 13) {
           event.preventDefault();
           document.getElementById("myBtn").click();
          }
        });
        </script>
  
      <script>
        let search_inp = document.querySelector(".search-input");
        let target = document.querySelector(".search-btn");
        const array = <%-JSON.stringify(push_player).toLocaleLowerCase()%>;
        const normal_array = <%-JSON.stringify(push_player)%>;
        target.addEventListener("click", e =>{
  
          const match = array.find(element => {
          if (element.includes(search_inp.value.toLocaleLowerCase())) {
            return true;
          }  
        });
  
        
        if (search_inp.value !== "") {
          let geti = array.indexOf(match); 
          let right_name = normal_array[geti];
          location.href = `/player/${right_name}`;
        } else {
          alert("You need to type a username of your choice!");
        }
        });
      </script>

        <!-- inner-land-page -->
    <div class="container-fluid" style="padding: 0;">
        <div class="bg-1 d-flex justify-content-center align-items-center">
          <div class="d-flex flex-column align-items-center">
            <div>
                <h1 class="glow" style="text-align: center; color: rgba(255, 255, 255, 0.795); font-weight: bold; font-size: 5rem;">LEADER<span style="color: #04329b;">BOARDS</span></h1>
        </div>
        </div>
        </div>
      </div>

      <!-- Leaderboards -->
      
      <div class="d-flex justify-content-center" style="flex-wrap: wrap; gap: 6rem; margin-top: 10rem;">
        <% allGametypes.forEach(function(final_gametypes) { %>

        
        <div class="table-data .table-responsive">
          
          <table class="table table-dark table-striped">
            <caption><%=final_gametypes%></caption>

              <tr>
                  <th class="rank" scope="col">Rank</th>
                  <th class="player" scope="col">Player</th>
                  <th class="elo" scope="col">Elo</th>
              </tr>

              <% let i = 1; %>
              <% let i_2 = 0; %>
              <% let i_3 = 0; %>
              
              
              <%let getin = d_gametypes.indexOf(final_gametypes) %>
              
              
              <% userData.forEach(function(data) { %>

             <% userData.length = 10; %>
                
              <tr>
                  <th style="font-size: 1.2rem;" scope="row"><%=`${i++}#`; %></td>
                    <td style="font-size: 1.2rem;"><img style="margin-right: 1rem;" class="rounded" src="<%=`https://visage.surgeplay.com/face/24/${push_player_UUID[getin]}`%>" alt=""><a style="text-decoration: none;" href="http://localhost:3000/player/<%=push_player_player[getin]%>"><%=push_player_player[getin + i_3++] %></a></td>
                    <td style="font-size: 1.2rem;"><%=push_player_elo[getin + i_2++]%></td>
                  
              </tr>

              
              <% }) %>
          </table>
      </div>
    <% }) %>
      </div>
<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>    
</body>
</html>