<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- AUTHOR STYLESHEET -->
    <link rel="stylesheet" href="/stylesheets/player.css">
</head>
<body>


    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
        <div style="padding-right: 8rem; padding-left: 8rem;" class="container-fluid nav-padding">
          <a class="navbar-brand glow" href="/"><span style="color: #04329b; font-weight: bold;">MINE</span>RAL</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div style="gap: 2rem;" class="navbar-nav">
              <a class="nav-link" href="/" style="font-size: 1.2rem; text-align: center;">Home</a>
              <a class="nav-link" href="/staff" style="font-size: 1.2rem; text-align: center;">Staff</a>
              <a class="nav-link" href="#" style="font-size: 1.2rem; text-align: center;">Leaderboards</a>
              <a class="nav-link" href="#" style="font-size: 1.2rem; text-align: center;">FAQ</a>
              <form class="d-flex">
                <input style="border: none; background-color: transparent; color: rgba(255, 255, 255, 0.795); font-weight: bold; border-bottom: 1px solid #04329b;border-radius: 0; padding: 0;" id="myInput" class="search-input form-control me-2" type="search" placeholder="Search for Player" aria-label="Search" onkeypress="return event.keyCode != 13;">
                <button style="background-color: #04329b!important; color: rgba(255, 255, 255, 0.795)!important;" id="myBtn" class="search-btn btn btn-outline-primary" type="button">Search</button>
              </form>
            </div>
            
          </div>
        </div>
      </nav>

      <script>
        var input = document.getElementById("myInput");
        input.addEventListener("keyup", function(event) {
          if (event.keyCode === 13) {
           event.preventDefault();
           document.getElementById("myBtn").click();
          }
        });
        </script>
  
      <script>
        let search_inp = document.querySelector(".search-input");
        let target = document.querySelector(".search-btn");
        const array = <%-JSON.stringify(push_player).toLocaleLowerCase()%>;
        const normal_array = <%-JSON.stringify(push_player)%>;
        target.addEventListener("click", e =>{
  
          const match = array.find(element => {
          if (element.includes(search_inp.value.toLocaleLowerCase())) {
            return true;
          }  
        });
  
        
        if (search_inp.value !== "") {
          let geti = array.indexOf(match); 
          let right_name = normal_array[geti];
          location.href = `/player/${right_name}`;
        } else {
          alert("You need to type a username of your choice!");
        }
        });
      </script>
    <%const array = push_player%>
    <%let name = parameter%>
    <% const result = array.find(element => { %>

        <% return element.toLowerCase() === name.toLowerCase() %>
        
    <% }); %>
      <!-- inner-land-page -->
    <div class="container-fluid" style="padding: 0;">
        <div class="bg-1 d-flex justify-content-center align-items-center">
          <div class="d-flex flex-column align-items-center">
            <div class="d-flex align-items-center justify-content-center flex-wrap" style="gap: 2rem;">
                <h1 class="glow order-1" style="margin: 0; text-align: center; color: rgba(255, 255, 255, 0.795); font-weight: bold; font-size: min(max(30px, 10vw), 50px);"><%=result%></h1>
                <% const testo = JSON.stringify(push_player);%>
                <% let geti = push_player.indexOf(result); %>
                <% let skin_of_player = push_player[geti + 1]; %>
                <% let rank = rank_array[geti + 2]; %>
                <img class="order-0" src="<%=`https://visage.surgeplay.com/face/70/${skin_of_player}`%>" alt="">
        </div>
          
        </div>
        </div>
      </div>
  

    <%let UUID = array.indexOf(result);%>
    <%let UUID_player = array[UUID + 1];%>
    <% if (array.includes(result) === true) { %>
        <title><%=result%> | Mineral</title>

        <% } else { %>
            
            <script>
                location = "/notFound";
            </script>

            <% } %>
        

    <!-- PLAYER INFORMATION -->
    <div class="player_information-container d-flex flex-row justify-content-center align-items-center" style="margin-top: 4rem;">
      <div>
        <img class="profile_skin" style="width: 22%; min-width: 246px;; height: auto; max-width: 250px; position: relative; left: 0.5rem;" src="<%=`https://visage.surgeplay.com/full/${skin_of_player}`%>" alt="">
        <h1 class="header-target" style="color: rgba(255, 255, 255, 0.795); font-weight: bold; margin-top: .5rem; margin-bottom: 1rem; text-align: center;"><%=result%></h1>
      </div>
      <div class="d-flex flex-column" style="position: relative; top: 7rem; display: none;">
      <div class="player_info d-flex flex-column" style="margin-top: 5rem; display: none; position: relative; bottom: 11rem;">
        <h1 class="glow last_seen_text" style="display:none; color: rgba(255, 255, 255, 0.795); font-weight: bold; font-size: 1.5rem; margin: 0;"><span class="glow" style="font-size: 1.5rem; color: #04329b; font-weight: bold; text-align: center;">LAST</span> SEEN:</h1>
      </div>
      <div class="player_info d-flex flex-column" style="margin-top: 2rem; display: none; position: relative; bottom: 11rem;">
        <h1 class="glow last_seen_text" style="display:none; color: rgba(255, 255, 255, 0.795); font-weight: bold; font-size: 1.5rem; margin: 0;"><span class="glow" style="font-size: 1.5rem; color: #04329b; font-weight: bold; text-align: center;">FIRST</span> JOINED:</h1>
      </div>
      <div class="player_info d-flex flex-column" style="margin-top: 2rem; display: none; position: relative; bottom: 11rem;">
        <h1 class="glow last_seen_text" style="display:none; color: rgba(255, 255, 255, 0.795); font-weight: bold; font-size: 1.5rem; margin: 0;"><span class="glow" style="font-size: 1.5rem; color: #04329b; font-weight: bold; text-align: center;">LAST</span> SEEN:</h1>
      </div>
      <div class="player_info d-flex flex-column" style="margin-top: 2rem; display: none; position: relative; bottom: 11rem;">
        <h1 class="glow last_seen_text" style="display:none; color: rgba(255, 255, 255, 0.795); font-weight: bold; font-size: 1.5rem; margin: 0;"><span class="glow" style="font-size: 1.5rem; color: #04329b; font-weight: bold; text-align: center;">LAST</span> SEEN:</h1>
      </div> 
    </div>
      
        <%const ra_array = rank_array%>
        <%let pa_name = parameter%>
        <% const result_rank = ra_array.find(element => { %>
        <% return element.toLowerCase() === pa_name.toLowerCase() %>
        
    <% }); %>

    <% const r_array = JSON.stringify(rank_array);%>
    <% let getindex = rank_array.indexOf(result_rank); %>
    <% let rank_tag = rank_array[getindex + 1]; %>
    <% let rank_goal = rank_array[getindex + 2]; %>


    <% switch (rank_goal)  {
         case "Owner" : %>
            <script>
                // Owner rank
                let owner = document.createElement("span");
                owner.setAttribute("id", "resp-rank");
                owner.setAttribute("class", "owner-rank");
                let ow_target = document.querySelector(".header-target");
                owner.innerHTML = `<span style="color: #FFF; font-weight: bold;">Owner</span></span>`;
                ow_target.insertAdjacentElement("afterend", owner);
            </script>
        <% break;
         case "Admin" : %>
            <script>
                // Admin rank
                let admin = document.createElement("span");
                admin.setAttribute("id", "resp-rank");
                admin.setAttribute("class", "admin-rank");
                let a_target = document.querySelector(".header-target");
                admin.innerHTML = `<span style="color: #FFF; font-weight: bold;">Admin</span></span>`;
                a_target.insertAdjacentElement("afterend", admin);
            </script>
       <% break;
        case "Moderator" : %>
            <script>
                // Moderator rank
                let moderator = document.createElement("span");
                moderator.setAttribute("id", "resp-rank");
                moderator.setAttribute("class", "moderator-rank");
                let mo_target = document.querySelector(".header-target");
                moderator.innerHTML = `<span style="color: #FFF; font-weight: bold;">Moderator</span></span>`;
                mo_target.insertAdjacentElement("afterend", moderator);
            </script>
        <% break; 
        case "ChatMod" : %>
            <script>
                // ChatMod rank
                let chatmod = document.createElement("span");
                chatmod.setAttribute("id", "resp-rank");
                chatmod.setAttribute("class", "chatmod-rank");
                let cm_target = document.querySelector(".header-target");
                chatmod.innerHTML = `<span style="color: #FFF; font-weight: bold;">ChatMod</span></span>`;
                cm_target.insertAdjacentElement("afterend", chatmod);
            </script>
    <% break; 
     case "Trial" : %>
            <script>
                // Trial rank
                let trial = document.createElement("span");
                trial.setAttribute("id", "resp-rank");
                trial.setAttribute("class", "trial-rank");
                let t_target = document.querySelector(".header-target");
                trial.innerHTML = `<span style="color: black; font-weight: bold;">Trial</span></span>`;
                t_target.insertAdjacentElement("afterend", trial);
            </script>
        <% break;
         default : %>
            <script>
            // Default rank
                let default_rank = document.createElement("span");
                default_rank.setAttribute("id", "resp-rank");
                default_rank.setAttribute("class", "default-rank");
                let d_target = document.querySelector(".header-target");
                default_rank.innerHTML = `<span style="color: black; font-weight: bold;">Default</span></span>`;
                d_target.insertAdjacentElement("afterend", default_rank);
            </script>
          <% 
         } %>
         
    </div>
    
    <%const nd_a = gametypes_player%>
        <%let parand_name = parameter%>
        <% const result_nd = nd_a.find(element => { %>
        <% return element.toLowerCase() === parand_name.toLowerCase() %>
        
    <% }); %>


    <% let i = 0; %>
    <% const nd_2 = JSON.stringify(gametypes);%>
    <% let ndindex = gametypes_player.indexOf(result_nd); %>
    
    <div style="margin-top: 4rem; margin-bottom: 2rem; gap: 2rem; flex-wrap: wrap;" class="d-flex justify-content-center align-items-center">
      <div style="background-color: #111216; width: 90%; padding-top: .5rem; padding-bottom: .5rem; margin-bottom: 1rem; margin-top: 1rem;">
        <h1 class="glow" style="text-align: center; color: rgba(255, 255, 255, 0.795); font-weight: bold; margin: 0; font-size: 3rem;">Sta<span style="color: #04329b; font-weight: bold;">ts</span></h1>
      </div>
      <% allGametypes.forEach(function(final_gametypes) {%>
      <div id="player_elo" class="d-flex justify-content-center align-items-center flex-column" style="gap: 1rem;">
          <span style="font-size: 1.5rem; color: #FFF; letter-spacing: .3rem; font-weight: bold;"><%=final_gametypes%></span>  
        <div style="background: rgba(0, 0, 0, .2); border: 1px solid rgba(238, 232, 232, 0.2); border-radius: 6px; width: 80%; text-align: center;" class="d-flex flex-column">
          <% let elo = gametypes[ndindex + i++]; %>
          <p style="color: #FFF; margin: 0; font-size: 1.2rem;"><%=elo%> ELO</p> 
        </div>
      </div>
      <% }) %>
      
    </div>



    <!-- FOOTER -->
    <footer class="container-fluid" style="padding: 0;">
        <div class="mineral-footer d-flex flex-column justify-content-center align-items-center">
          <div class="container" style="width: auto;">
            <div class="row">
              <div class="col">
                <a class="navbar-brand footer-brand glow" href="/"><span style="color: #04329b; font-weight: bold;">MINE</span>RAL.gg 💙</a>
            </div>
            <div class="mineral-foot-links col d-flex justify-content-center align-items-center">
              
                <a class="nav-link" href="/" style="font-size: 1.2rem;">Home</a>
                <a class="nav-link active" aria-current="page" href="/staff" style="font-size: 1.2rem; color: #04329b;">Staff</a>
                <a class="nav-link" href="#" style="font-size: 1.2rem;">Leaderboards</a>
                <a class="nav-link" href="#" style="font-size: 1.2rem;">FAQ</a>
              
            </div>
              <div id="footer-items" class="col d-flex justify-content-end align-items-center">
                <div style="gap: 1.5rem;" class="d-flex">
                <a href="#"><img class="skin-size" src="/images/discord-icon.svg" alt=""></a>
                <a href="#"><img class="skin-size"  src="/images/twitter-icon.svg" alt=""></a>
              </div>
              </div> 
              </div>
              <hr class="footer-line" style="color: #04329b; height: 0.5rem; border-radius: 2rem; width: 100%; opacity: 1;">
              <div>
                <p style="color: rgba(255, 255, 255, 0.795);">© 2022 Mineral Industries, LLC. All Rights Reserved.</p>
              </div>
          </div>
        </div>
      </footer>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>