<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <title>Team | Mineral</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- AUTHOR STYLESHEET -->
    <link rel="stylesheet" href="/stylesheets/team.css">
</head>
<body>
        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
            <div style="padding-right: 8rem; padding-left: 8rem;" class="container-fluid nav-padding">
              <a class="navbar-brand glow" href="/"><span style="color: #04329b; font-weight: bold;">MINE</span>RAL</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
                <div style="gap: 2rem;" class="navbar-nav">
                  <a class="nav-link" aria-current="page" href="/" style="font-size: 1.2rem; text-align: center;">Home</a>
                  <a class="nav-link" href="/leaderboards" style="font-size: 1.2rem; text-align: center;">Leaderboards</a>
                  <a class="nav-link active" href="/team" style="font-size: 1.2rem; text-align: center; color: #04329b;">Team</a>
                  <a target="_blank" class="nav-link-store" href="https://store.mineral.gg" style="color:white; font-size: 1.2rem; text-align: center; background-color: #04329b; border-radius: .5rem;">Store</a>
                  <form class="d-flex">
                    <input style="border: none; background-color: transparent; color: rgba(255, 255, 255, 0.795); font-weight: bold; border-bottom: 1px solid #04329b;border-radius: 0; padding: 0;" id="myInput" class="search-input form-control me-2" type="search" placeholder="Search for Player" aria-label="Search" onkeypress="return event.keyCode != 13;">
                    <button style="background-color: #04329b!important; color: rgba(255, 255, 255, 0.795)!important;" id="myBtn" class="search-btn btn btn-outline-primary" type="button">Search</button>
                  </form>
                </div>
                
              </div>
            </div>
          </nav>

          <script>
            var input = document.getElementById("myInput");
            input.addEventListener("keyup", function(event) {
              if (event.keyCode === 13) {
               event.preventDefault();
               document.getElementById("myBtn").click();
              }
            });
            </script>
      
          <script>
            let search_inp = document.querySelector(".search-input");
            let target = document.querySelector(".search-btn");
            const array = <%-JSON.stringify(pp).toLocaleLowerCase()%>;
            const normal_array = <%-JSON.stringify(pp)%>;
            target.addEventListener("click", e =>{
      
              const match = array.find(element => {
              if (element.includes(search_inp.value.toLocaleLowerCase())) {
                return true;
              }  
            });
      
            
            if (search_inp.value !== "") {
        let geti = array.indexOf(match); 
        let right_name = normal_array[geti];
        if (right_name === undefined) {
          location.href = `notFound`;
          return;
        }
        location.href = `/player/${right_name}`;
      } else {
        alert("You need to type a username of your choice!");
      }
            });
          </script>

    <!-- inner-land-page -->
    <div class="container-fluid" style="padding: 0;">
        <div class="bg-1 d-flex justify-content-center align-items-center">
          <div class="d-flex flex-column align-items-center">
            <div>
                <h1 class="glow" style="text-align: center; color: rgba(255, 255, 255, 0.795); font-weight: bold; font-size: 5rem;">TE<span style="color: #04329b;">AM</span></h1>
        </div>
          
        </div>
        </div>
      </div>

      <!-- STAFF -->
      <div class="container">
        <div class="row">
          <div style="padding: 46px;" class="col">
            <% staffGameData.forEach(function(staff) { %>
              <div>
                <h1 class="staff-title" style="text-align: center; margin-bottom: 6rem; color: rgba(255, 255, 255, 0.795); font-size: 4rem; font-weight: bold; text-decoration: underline; text-underline-offset: 4px;"><span style="color: rgb(<%=staff.rgb%>)"><%=staff.rankName%></span></h1>
              </div>

             
            <div style="gap: 5rem; margin-bottom: 3rem;" class="d-flex justify-content-center align-items-center flex-wrap">
              <% staff.players.forEach(function(players) { %>   
                <div class="d-flex flex-column">
                <a style="text-align: center; text-decoration: none; margin-top: 1.5rem;" href="/player/<%=players.playerName%>"><img class="skin-size" src="https://visage.surgeplay.com/full/300/<%=players.playerUUID%>" alt=""></a>
                <a style="text-align: center; text-decoration: none; margin-top: 1.5rem;" href="/player/<%=players.playerName%>"><span class="player_names" style="text-align: center; color: rgb(<%=staff.rgb%>); font-weight: bold; font-size: 1.5rem;"><%=players.playerName%></span></a>
              </div>
              <% }); %>
            </div>
            <% }); %>
          </div>
        </div>
      </div>
      <hr style="width: 100%; height: 5px; background-color: black; font-weight: bold; opacity: 1; position: relative; top: 1rem;">
      

    <!-- FOOTER -->
    <footer class="container-fluid" style="padding: 0;">
      <div class="mineral-footer d-flex flex-column justify-content-center align-items-center">
        <div class="container" style="width: auto;">
          <div class="row">
            <div class="col">
              <a class="navbar-brand footer-brand glow" href="/"><span style="color: #04329b; font-weight: bold;">MINE</span>RAL.gg 💙</a>
          </div>
          <div class="mineral-foot-links col d-flex justify-content-center align-items-center">
            
              <a class="nav-link" href="/" style="font-size: 1.2rem;">Home</a>
              <a class="nav-link" href="/leaderboards" style="font-size: 1.2rem;">Leaderboards</a>
              <a class="nav-link active" aria-current="page" href="/team" style="font-size: 1.2rem; color: #04329b;">Team</a>
              <a target="_blank" class="nav-link-store" href="https://store.mineral.gg" style="color:white; font-size: 1.2rem; text-align: center; background-color: #04329b; border-radius: .5rem;">Store</a>
            
          </div>
            <div id="footer-items" class="col d-flex justify-content-end align-items-center">
              <div style="gap: 1.5rem;" class="d-flex">
                <a target="_blank" href="https://discord.mineral.gg"><img class="skin-size" src="/images/discord-icon.svg" alt=""></a>
                <a target="_blank" href="https://www.youtube.com/@mineralstudio"><img class="skin-size"  src="/images/youtube-icon.svg" alt=""></a>
            </div>
            </div> 
            </div>
            <hr class="footer-line" style="color: #04329b; height: 0.5rem; border-radius: 2rem; width: 100%; opacity: 1;">
            <div>
              <p style="color: rgba(255, 255, 255, 0.795);">© <%=new Date().getFullYear()%> Mineral Studios, All Rights Reserved.</p>
            </div>
        </div>
      </div>
    </footer>
  </div>
  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>   
</body>
</html>